<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-582031-1694712617/blob/main/smartbridgeASSESSMENT1_SiddhiMarri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import random
import pandas as pd

In [ ]:
#TASK1
n=4
arr=np.array(random.sample(range(1,100),n*n)).reshape(4,4)
arr

array([[87, 85, 57, 93],
       [76, 27,  6, 72],
       [60, 74, 29, 61],
       [62, 17, 92, 97]])

In [ ]:
df=pd.DataFrame(arr,columns=["a","b","c","d"])
df

    a   b   c   d
0  87  85  57  93
1  76  27   6  72
2  60  74  29  61
3  62  17  92  97

In [ ]:
#TASK2
df=df.rename(columns={"a":"Random Value 1","b":"Random Value 2","c":"Random Value 3","d":"Random Value 4"})
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0              87              85              57              93
1              76              27               6              72
2              60              74              29              61
3              62              17              92              97

In [ ]:
#TASK3
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean        71.250000       50.750000       46.000000       80.750000
std         12.685293       33.747839       37.085487       17.134274
min         60.000000       17.000000        6.000000       61.000000
25%         61.500000       24.500000       23.250000       69.250000
50%         69.000000       50.500000       43.000000       82.500000
75%         78.750000       76.750000       65.750000       94.000000
max         87.000000       85.000000       92.000000       97.000000

In [ ]:
#TASK4
df.isnull().sum()

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [ ]:
df.dtypes

Random Value 1    int64
Random Value 2    int64
Random Value 3    int64
Random Value 4    int64
dtype: object

In [ ]:
#TASK5
print(df.loc[:,'Random Value 2'])
print(df.loc[:,'Random Value 3'])

0    85
1    27
2    74
3    17
Name: Random Value 2, dtype: int64
0    57
1     6
2    29
3    92
Name: Random Value 3, dtype: int64

In [ ]:
print(df.iloc[:,1])
print(df.iloc[:,2])

0    85
1    27
2    74
3    17
Name: Random Value 2, dtype: int64
0    57
1     6
2    29
3    92
Name: Random Value 3, dtype: int64